@font-face {
  font-family: Animal;
  src: url(PuppyBellies.ttf);
}

body {
	background: url(../assets/labrador-retriever-gun-dog-pet-animal-winter-snow-covered-trees-outdoor-1920x1200.jpg) no-repeat fixed center top ;

}

.mainwrapper {
	max-width: 990px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(0,0,0,0.5);

	.topbar {
	  height:100px;
	  position: relative;
	  background-color: rgb(244, 219, 138);

	  .navbar {
	    background-color: inherit;
	    margin-bottom:0;
	    position:absolute;
	    bottom:0;
	    width: 100%;
	    .navbar-brand {
	      font-family:Animal;
	      font-size:45px;
	      color: #128112;
	    }
	   }
	}
}